@import "../base";

.card-container {
    display: grid;
    grid-template-rows: 500px min-content min-content auto;
    img {
        height: 100%;
        max-width: 80%;
        justify-self: center;
        object-fit: cover;
    }
    h3 {
        padding: 0;
        margin: 30px 0 0 0;
    }
    h4 {
        margin: 0;
    }
    h6 {
        margin: 10px 0 0 0;
    }
}
@media (max-width: $screen-tablet) {
    .card-container {
        h3 {
            margin: 30px 15% 0 15%;
        }
        h4 {
            margin: 0 15%;
        }
        h6 {
            margin: 0 15%;
        }
    }
}
