@import "../base";

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20vh;
    left: 0;
    width: 100%;
    .text-content {
        display: grid;
        gap: 0;
        grid-template-columns: 0.7fr 2fr 0.7fr;

        .text-usmiech {
            margin: -60px 0;
        }
        .line {
            align-self: center;
            height: 2px;
            width: 100%;
            background-color: $color-main5;
        }
        .text-tomy {
            margin: 0;
            .text-my {
                all: unset;
                color: $color-main55;
            }
        }
        p {
            font-style: italic;
        }
        .button-poznajoferte {
            cursor: pointer;
            width: max-content;
            padding: calc(var(--fs-6) / 2) var(--fs-6);
            text-align: center;
            background-color: $color-main5;
            font-size: var(--fs-6);
            color: white;
            transition: 0.2s;
            &:hover {
                background-color: $color-main15;
            }
            &:active {
                transition: 0s;
                background-color: $color-main25;
            }
        }
    }
    .image-content {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        .photo-girl {
            object-fit: cover;
            object-position: top;
            width: 80%;
            height: 90vh;
        }
    }
}

@media (max-width: $screen-tablet) {
    .main-container {
        flex-direction: column;
        .image-content {
            position: relative;
            margin-top: 10%;
            right: -20vw;
            .photo-girl {
                width: 80vw;
                min-height: 40vw;
                height: 50vh;
            }
        }
    }
}
