@import "../base";

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 100vh;
}
