@import "../base";

.offer-container-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 20px;
    #offer-title {
        margin: 0;
        grid-column: span 2;
    }
    #offer-description {
        margin: 0;
    }
}

@media (max-width: $screen-tablet) {
    .offer-container-grid {
        width: 100%;
        grid-template-columns: 1fr;
        #offer-title {
            grid-column: span 1;
            margin-bottom: 10px;
        }
        #offer-description {
            margin-bottom: 20px;
        }
    }
}
