@import "../base";

.burger {
    display: none;
    .line {
        display: none;
    }
}
@media (max-width: $screen-tablet) {
    .burger {
        height: 40%;
        width: 50px;
        display: flex;
        flex-direction: column;
        .line {
            display: inline-block;
            margin: auto;
            height: 2px;
            width: 80%;
            background-color: white;
        }
    }
}
