@import "../base";

.navbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background-color: black;
    .items-container {
        display: flex;
        align-items: center;
        width: 80%;
        height: 80px;
        .stomalogo {
            height: 60%;
        }
    }
}
@media (max-width: $screen-laptop) {
    .navbar-container {
        min-height: 65px;
    }
}
