.mobile-button-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 80%;
    .mobile-button {
        font-size: var(--fs-btn);
        font-family: "Vollkorn", serif;
        color: white;
        cursor: pointer;
    }
}
.mobile-button-list--disabled {
    display: none;
}

@media (min-width: $screen-tablet) {
    .mobile-button-list {
        display: none;
    }
}
