@import "../base";
.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 100%;

    .buttons-container {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: center;
        height: 60%;
        .fblogo {
            height: 40%;
        }
    }
}

@media (max-width: $screen-tablet) {
    .buttons-container,
    .buttons-container > * {
        display: none;
    }
}
